@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden; }

.deezer_img_small {
    width:56px;
    height:56px;
}

@media (max-width: 800px) {
    .largeonly {display: none}
}

@media (max-width: 600px) {
    .mediumonly {display: none}
}