@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden; }

.deezer_img_small {
    width:56px;
    height:56px;
}


.h-100vh {
    height: 100vh
}

.w-100vw {
    width: 100vw
}

@media (max-width: 800px) {
    .largeonly {display: none}
}